*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Playfair Display', serif;
}
.btn{
    font-size: 20px;
    color: white;
    background-color: #E55473;
    border-radius: 6px;
    border: 0px;
    padding: 18px 26px;
}
/* #########   HEADER PART    ########## */
.header{
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 240px;
    padding-right: 240px;
    background-color: rgba(229, 84, 115, 0.18);
}
.header-flower{
    height: 800px;
    width: 635px;
    padding-top: 45px;
}
.Bold-text{
    font-size: 80px;
    font-weight: 900;
}
.para-text{
    padding-right: 240px;
    padding-top: 32px;
    font-size: 18px;
    color: rgb(70, 70, 70);
    padding-bottom: 32px;
}
/* ##########  BODY PART 1 ############# */
.sec1{
    margin-top: 178px;
}
.Text-of-sec1{
    text-align: center;
}
.featured-flower{
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
}
.featured-flower-texts{
    font-size: 18px;
    color: rgb(70, 70, 70);
}
.flower-box-container{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 240px;
    margin-left: 240px;
}
.flower-box1, .flower-box2, .flower-box3{
    width: 464px;
    height: 538px;
    margin-right: 24px;
    border-radius: 50% 50% 0 0;
    display: flex;
    justify-content: center;
    position: relative;
}
.img2{
    width: 370px;
    height: 370px;
}
.img1{
    width: 310px;
    height: 428px;
}
.img3{
    width: 314px;
    height: 471px;
}
.img1 ,.img2, .img3{
    position: absolute;
    bottom: 0px;
}
.flower-box1{
    background-color: rgba(167, 33, 98, 0.15);
}
.flower-box2{
    background-color: rgba(5, 152, 160, 0.25);
}
.flower-box3{
    background-color: rgba(71, 125, 17, 0.20);
}
.box{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.box >p{
    padding-top: 32px;
    font-size: 24px;
    font-weight: bold;
}
/* ######### Section 2 ########### */
.sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 150px 240px;
}
.offer-header{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.offer-text{
    font-size: 18px;
    color: rgb(70, 70, 70);
    margin-bottom: 32px;
}
.text-part{
    text-align: center;
}
.img-left{
    width: 318px;
    height: 420px;
}
/* ######### Section 3 ########### */
.four-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 240px;
}
.images{
    height: 396px;
    width: 342px;
}
/* ######### last section ########### */
.last-section{
    margin: 128px 240px;
    width: 1440px;
    height: 449px;
    display: flex;
    justify-content: center;
    background-image: url("Flower Asset/Rectangle 9.png");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
}
.deal-title{
    margin-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
}
.coupon{
    font-size: 18px;
    color: rgb(70, 70, 70);
    margin-bottom: 50px;
}
input{
    padding-left: 18px;
    width: 700px;
    height: 64px;
    border: 0px;
    border-radius: 5px;
}
input::placeholder {
    font-size: 16px;
}
.inside-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* ######### Footer part ########### */
footer{
    height: 449px;
    background-color: #111010;
    text-align: center;
    padding-top: 200px;
}
.last-title{
    font-size: 48px;
    font-weight: 800;
    color: white;
    margin-bottom: 24px;
}
.last-text{
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin-bottom: 32px;
}
.end-text{
    font-size: 16px;
    color:rgba(255, 255, 255, 0.60);
}